* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #e0e0e0;
}

a {
  color: #000;
  text-decoration: none;
}

.content {
  width: 100vw;
  padding: 1rem;
  background-color: #fff;
  transition: all ease-in-out .2s;
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}